/* ===================================
    About
====================================== */

/*
    Theme Name: MegaOne
    Theme URI:
    Author: Themes Industry
    Author URI:
    Description: One Page Parallax Template
    Tags: one page, multipurpose, parallax, creative, html5

 */

/* ===================================
    Table of Content
====================================== */


/*  - Fonts
    - General
    - Fonts
    - Social Icon Hover
    - Header And Navigation
    - Slider
    - About
    - Team
    - Portfolio
    - Price
    - Parallax
    - Testimonial
    - Client
    - Blog
    - Contact
    - Map
    - Footer
    - Loader
    - Media Queries   */


/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,500,700&display=swap');


/* ===================================
    Scrollbar
====================================== */
/*html{*/
/*    scroll-behavior: smooth;*/
/*}*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    width: 12px;
    background:white;
    border-left: 0 solid white;
    border-right: 0 solid white;
}
::-webkit-scrollbar-thumb {
    background: #f71c52;
    width: 0;
    height: 25%;
    transition: .5s ease;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background:#554c86;
}
/* ===================================
    General
====================================== */
body{
    position: relative;
}

body {font-family: 'Roboto', sans-serif; font-size: 16px;color: #2b2b2b;font-weight:300;line-height:25px;width: 100%; overflow-x: hidden}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {line-height: 1.2; font-weight: 500; font-family: 'Roboto', sans-serif;margin-bottom: 0}
a, *::before, *::after, img, span, input, button, .navbar, .fixedmenu, .tp-bullet, .owl-dot, .owl-prev, .owl-next {transition: ease-in-out 0.2s;-webkit-transition: ease-in-out 0.2s;-moz-transition: ease-in-out 0.2s;-ms-transition: ease-in-out 0.2s;-o-transition: ease-in-out 0.2s;}
section,.section-padding {position: relative;overflow: hidden;}
a {color:inherit;text-decoration: none;}
.btn.focus, .btn:focus{-webkit-box-shadow: none;box-shadow: none;}
p:last-child{margin-bottom: 0 !important;}
.fa, .far, .fas{display: inline;}
a:active, a:hover{color: #f71c52;}
.hidden{display: none;}
ul{margin-bottom: 0;}
ul{margin-bottom: 0;}

/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

/* overlay */
.bg-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/* opacity */
.opacity-3{opacity: .3;}
.opacity-4{opacity: .4;}
.opacity-5{opacity: .5;}
.opacity-6{opacity: .6;}
.opacity-7{opacity: .7;}
.opacity-8{opacity: .8;}
.opacity-9{opacity: .9;}

/* button */
.btn {-webkit-appearance: initial; overflow: hidden;position: -webkit-sticky;position: sticky; z-index: 2; display:inline-block; font-size: 17px; border:2px solid transparent; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform:capitalize; width: auto;font-family: 'Roboto', sans-serif; font-weight: 500; -webkit-transition: all .5s ease;-o-transition: all .5s ease !important;transition: all .5s ease !important;}
/* button size */

/* background color */
.bg-red{background-color: #f71c52;}
.bg-purple {background-color: #554c86;}
.bg-green {background-color: #39d47a;}

/* text-color */
.red-color{color: #f71c52;}
.purple-color {color: #554c86;}
.green-color {color: #39d47a;}

/*Max Width*/
.parallax-disable{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.position-relative{
    position: relative;
}
.left-overlay{
    position: absolute;
    left: 0;
    right: 60%;
    top: 0;
    bottom: 0;
}
.right-overlay{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
}
/*icon text bover */
.facebook-text-hvr:hover{color:#4267B2 !important;}
.twitter-text-hvr:hover{color:#1DA1F2 !important;}
.instagram-text-hvr:hover{color:#C32AA3 !important;}
.linkedin-text-hvr:hover{color:#0077B5 !important;}
.pinterest-text-hvr:hover{color:#BD081C !important;}
.google-text-hvr:hover{color:#DB4437 !important;}

/* ===================================
      Custom css
  ==================================== */
/* transition none */
.no-transition *{transition-timing-function:initial; -moz-transition-timing-function:initial; -webkit-transition-timing-function:initial; -o-transition-timing-function:initial; -ms-transition-timing-function:initial; transition-duration: 0s; -moz-transition-duration: 0s; -webkit-transition-duration: 0s; -o-transition-duration: 0s; -ms-transition-duration: 0s;}

.color-lines{
    height: 15px;
}
.padding-top{
    padding-top: 120px;
}
.padding-bottom{
    padding-bottom: 120px;
 }
.heading{
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}
.text{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.heading span{
    display: block;
}
.white-trans-btn{
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: transparent;
    transition: .5s ease;
    font-size: 14px;
    font-family: Roboto, sans-serif;
}
.white-trans-btn:hover{
    background-color: #FFFFFF;
    color: #000000;
}
.green-btn{
    border: solid 1px #39d47a;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: #39d47a;
    font-size: 14px;
    font-family: Roboto, sans-serif;

    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
}
.green-btn:hover{
    border:solid 1px #f71c52;
    color: #FFFFFF;
}
.green-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f71c52;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.pink-btn{
    border: solid 1px #f71c52;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: #f71c52;
    font-size: 14px;
    font-family: Roboto, sans-serif;

    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
    cursor: pointer;
}
.pink-btn:hover{
    border:solid 1px #39d47a;
    color: #FFFFFF;
}
.pink-btn span {
    cursor: pointer;
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #39d47a;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.purple-btn{
    border: solid 1px #554c86;
    color: #FFFFFF;
    font-weight: 400;
    padding: 8px 35px;
    background-color: #554c86;
    font-size: 14px;
    font-family: Roboto, sans-serif;

    border-radius: 0.5em;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .8s ease;
    text-decoration: none;
    cursor: pointer;
}
.purple-btn:hover{
    border:solid 1px #f71c52;
    color: #FFFFFF;
}
.purple-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #f71c52;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.anim-btn {
    border: 1px solid #FFFFFF;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px 30px 10px 30px;
    transition: .8s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.anim-btn:hover{
    border:solid 1px #FFFFFF;
}
.anim-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #FFFFFF;
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
}

.anim-btn:hover {
    color: #000000;
}

.anim-btn:hover span ,.green-btn:hover span ,.purple-btn:hover span,.pink-btn:hover span{
    transform: translateY(0) scale(3);
}

.anim-btn span:nth-child(1),.green-btn span:nth-child(1) ,.purple-btn span:nth-child(1) ,.pink-btn span:nth-child(1) {
    left: calc((1 - 1) * 25%);
    transition-delay: calc((1 - 1) * 0.1s);
}

.anim-btn span:nth-child(2) ,.green-btn span:nth-child(2) ,.purple-btn span:nth-child(2) ,.pink-btn span:nth-child(2){
    left: calc((2 - 1) * 25%);
    transition-delay: calc((2 - 1) * 0.1s);
}

.anim-btn span:nth-child(3) ,.green-btn span:nth-child(3) ,.purple-btn span:nth-child(3),.pink-btn span:nth-child(3){
    left: calc((3 - 1) * 25%);
    transition-delay: calc((3 - 1) * 0.1s);
}

.anim-btn span:nth-child(4),.green-btn span:nth-child(4),.purple-btn span:nth-child(4) ,.pink-btn span:nth-child(4) {
    left: calc((4 - 1) * 25%);
    transition-delay: calc((4 - 1) * 0.1s);
}
.anim-btn span:nth-child(5) ,.green-btn span:nth-child(5),.purple-btn span:nth-child(5) ,.pink-btn span:nth-child(5){
    left: calc((5 - 1) * 25%);
    transition-delay: calc((5 - 1) * 0.1s);
}
/* ===================================
        Header
   ====================================== */
header{
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*height: 269.796875px;*/
}
header .upper-nav{
    padding-top: 50px;
}
header .upper-nav .top-personal-info{
    padding-left: 0;
}
header .upper-nav .top-personal-info li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
header .upper-nav .top-personal-info li:last-child{
    margin-right: 0;
}
header .upper-nav .top-personal-info li a{
    color: #333333;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    transition: .5s ease;
    font-weight: 400;
}
header .upper-nav .top-personal-info li a:hover{
    color: #39d47a;
}
header .upper-nav .top-personal-info li a i{
    font-size: 18px;
    color: #f71c52;
    margin-right: 5px;
}

header .fixed-nav-links{
    display: none;
}
header .top-social-links li{
    list-style: none;
    display: inline-block;
    margin-left: 0px;
}
header .top-social-links li a{
    height: 35px;
    width: 35px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}
header .top-social-links li a:hover{
    border-radius: 50%;
}
header .top-social-links li a.twit:hover{
    background-color: #00acee;
}
header .top-social-links li a.link-in:hover{
    background-color: #0e76a8;
}
header .top-social-links li a.insta:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
header .top-social-links li a.fb:hover{
    background-color: #3b5998;
}
header .top-social-links li a i{
    font-size: 20px;
    color: #000000;
}
header .top-social-links li a:hover i{
    color: #FFFFFF;
}

/*main navigation*/
header .simple-nav-logo{
    background-color: #000000;
    padding: 35px 10px 40px 10px;
    margin-right: 0;
    text-align: center;
    position: relative;
    z-index: 111;
}
header .fixed-nav-logo{
    display: none;
}
header .navbar-brand img{
    max-width: 80%;
}
header .main-navigation{
    padding-top: 30px;
}
header .main-navigation .navbar{
    padding: 0;
}
header .main-navigation nav .navbar-nav .nav-item{
    display: inline-block;
    margin-left: 20px;
}
header .main-navigation nav .navbar-nav .nav-item .nav-link{
    padding-top: 0;
    color: #000000;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: .5s ease;
}
header .main-navigation nav .navbar-nav .nav-item .nav-link:hover, header .main-navigation nav .navbar-nav .nav-item .nav-link.active{
    color: #f71c52;
}
header .main-navigation nav .navbar-nav .nav-item:nth-child(even) .nav-link:hover, header .main-navigation nav .navbar-nav .nav-item:nth-child(even) .nav-link.active{
    color: #39d47a;
}
header .main-navigation nav .navbar-nav .nav-item:nth-child(3n) .nav-link:hover, header .main-navigation nav .navbar-nav .nav-item:nth-child(3n) .nav-link.active{
    color: #554c86;
}


/* ===================================
         header appear css
====================================== */
.header-appear{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 1111;
    background-color: #FFFFFF;
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
.header-appear .upper-nav{
    display: none;
}
.header-appear .main-navigation{
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-appear .simple-nav-logo{
    display: none;
}
.header-appear .fixed-nav-logo{
    display: block;
    transform: translateY(-3px);
}
.header-appear .fixed-nav-logo img{
    width: 30%;
}
.header-appear .main-navigation .simple-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-appear .fixed-nav-links{
    display: block;
}
.header-appear .fixed-nav-links{
    display: inline-block;
    transform: translateY(-5px);
    margin-left: 25px;
}
.header-appear .sidemenu_btn{
    top:41px
}

@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* ===================================
    Side Menu
====================================== */
.side-menu .bg-overlay{
    background: rgba(247, 28, 82, 0.9);
}
.side-menu {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    /*background: rgba(247, 28, 82, 0.6);*/
    background-image: url("../img/side-menu.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2032;
    height: 100%;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transition:transform .5s ease;
    overflow: hidden;
}
.side-menu-opacity{
    opacity:0;
}
.side-menu.left {
    left: 0; right: auto;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.side-menu.before-side {
    width: 280px;
}
.side-menu.side-menu-active,
.side-menu.before-side{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pul-menu .side-menu.side-menu-active {
    visibility: visible; opacity: 1;
}
.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}

/*Side overlay*/
#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}

/*side clode btn*/
 .side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 61px;
    right: 50px;
    cursor: pointer;
}
.header-appear ~ .side-menu .btn-close {
    top:50px;
}
.side-menu.before-side .btn-close{
    display: none;
}
.side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px;
}
.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*side open btn*/

.sidemenu_btn {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 36px;
    padding: 6px;
    margin-right: 1rem;
    margin-top: .4rem;
    position: absolute;
    right: 30px;
    top: 61px;
    display: inline-block;
}
.sidemenu_btn span {
    height: 2px;
    width: 100%;
    background: #000000;
    display: block;
    margin: auto;
    transition: .5s ease;
}
.sidemenu_btn:hover span{
    background: #f71c52;
}
.sidemenu_btn:hover span:first-child,.sidemenu_btn:hover span:last-child{
    width: 70%;
}

.sidemenu_btn span:nth-child(2) {
    margin: 4px 0;
}

.side-menu .inner-wrapper {
    padding: 3.5rem 5rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pul-menu.pushwrap .side-menu .inner-wrapper{
    padding: 3.5rem 2.5rem;
}
.side-menu .side-nav {
    margin-bottom: 30px;
    display: block;
}
.side-nav .navbar-nav .nav-item{
    display: block;
    margin: 3px 0;
    padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;

    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}
.side-nav .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.side-nav .navbar-nav .nav-item:nth-child(2){
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.side-nav .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.side-nav .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.side-nav .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.side-nav .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.side-nav .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.side-nav .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.side-nav .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.side-menu.side-menu-active .side-nav .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.side-nav .navbar-nav .nav-link {
    display: inline-table;
    color: #fff;
    padding: 2px 0 3px 0 !important;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    position: relative;
    border-radius: 0;
    font-family: Oswald, sans-serif;
}
.side-nav .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav .navbar-nav .nav-link:hover::after,
.side-nav .navbar-nav .nav-link:focus::after,
.side-nav .navbar-nav .nav-link.active::after {
    width: 100%;
}
.side-nav .navbar-nav .nav-link.active {
    background: transparent;
}
.side-menu-inner-content{
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
}
.side-menu p{
    margin-bottom: 0;
}
.menu-company-details{
    margin-bottom: 25px;
    margin-top: -15px;
}
.menu-company-details span{
    display: block;
    color: #FFFFFF;
    font-size:12px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}
.social-icons-simple{
    margin-bottom: 0;
    margin-left: -10px;
}

.social-icons-simple li{
    display: inline-block;
    padding-left: 8px;
}
.social-icons-simple li:first-child{
    padding-left: 0;
}
.social-icons-simple li a {
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 42px;
    border: 1px solid transparent;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}
.social-icons-simple li a:hover{
    background-color:#FFFFFF;
}

.social-icons-simple li.animated-wrap a:hover{
    background-color: transparent;
    color: #ffffff;
}
@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
/* ===================================
        Slider area
====================================== */

.slider-area{
    position: relative;
    margin-top: -40px;
    /*height: 100vh;*/
    /*transform: translateY(-40px);*/
}

.slider-area .bg-overlay{
    background-color:#f71c52;
    width: 50%;
    left: 0;
}

.slider-area .container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.slider-area .container .inner-bg-overlay{
    background-color:#f71c52;
    position: absolute;
    /*width: 50%;*/
    left: 0;
    right: 12%;
    bottom: 0;
    top: 0;
}
/*slider style css*/

.slider-area .slider-detail{
    display: flex;
    align-items: center;
}
.slider-area .slider-detail .slider-slide.slick-active{
    /*animation: 1s fadeInUp;*/
}
.slider-area .slider-detail .slider-slide .slider-inner-content{
    width: 90%;
    overflow: hidden;
}
.slider-area .slider-detail .slider-slide .slider-inner-content .slide-heading{
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.slider-area .slider-detail .slider-slide .slider-inner-content .slide-heading span{
    display: block;
}
.slider-area .slider-detail .slider-slide .slider-inner-content .slide-text{
    color: #FFFFFF;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}
.slider-area .slider-arrows{
    position: absolute;
    right: -7%;
    top: 50%;
    transform: translateY(-50%);
}
.slider-area .slider-arrows .slider-arr{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}
.slider-area .slider-arrows .slider-arr:hover{
    background-color:#39d47a;
}
.slider-area .slider-arrows .slider-arr-up{
    margin-bottom: 15px;
    padding-bottom: 1px;
}
.slider-area .slider-arrows .slider-arr-down{
    padding-top: 1px;
}
.slider-area .slider-arrows .slider-arr i{
    color: #FFFFFF;
    font-size: 16px;
}
.slider-area img{
    width: 100%;
}
/* ===================================
      About Us
  ==================================== */
.about-sec{
    padding-top: 10px;
}
.about-sec .about-overlay{
    position: absolute;
    display: block;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 60%;
    background-color:#39d47a;
}
.about-sec .services-area{
    /*background-color:#554c86;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-sec .services-area .purple-overlay{
    position: absolute;
    display: block;
    top: 0;
    right: 10px;
    bottom: 0;
    left: 0;
    background-color:#554c86;
}
.about-sec .services-area .services{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.about-sec .services-area .services .service-card{
    margin-bottom: 100px;
}
.about-sec .services-area .services:last-child .service-card,.about-sec .services-area .services:nth-child(3) .service-card{
    margin-bottom: 0;
}
.about-sec .services-area .services .service-card .icon-holder{
    margin-bottom: 12px;
    transition: .5s ease;
}
.about-sec .services-area .services .service-card .icon-holder i{
    color: #FFFFFF;
    font-size: 100px;
}
.about-sec .services-area .services:hover .service-card .icon-holder{
    animation: .8s pulse infinite;
    /*transform: translateY(-10px);*/
}

.about-sec .services-area .services .service-card .card-heading{
    color: #FFFFFF;
    font-size: 28px;
    font-family: Oswald, sans-serif;
    font-weight: 300;
    transition: .5s ease;
}


/*about detail*/

.about-sec .about-area{
    /*background-color: #39d47a;*/
    background-color: #39d47a;
    padding-left: 50px;
}
.about-sec .about-area .about-inner-content .anim-btn{
    margin-top: 30px;
}
/* ===================================
        stats section css
====================================== */

.stats-sec .stats-heading-area .sub-heading{
    font-family: Roboto, sans-serif;
    font-size:18px;
    color: #f71c52;
    font-weight: 400;
    margin-bottom: 20px;
}
.stats-sec .stats-heading-area .heading{
    color: #000000;
    margin-bottom: 30px;
}
.stats-sec .stats-heading-area .text{
    color: #000000;
    opacity: .7;
    width: 55%;
    margin: 0 auto;
}
/*-------------------------------*/
/* Circle Progress*/
/*-------------------------------*/
.stats-sec .circular-wrap{
    padding-top: 100px;
}
.stats-sec .circular-wrap .circle{
    position: relative;
    max-width: 210px;
    display: inline-block;
}

.stats-sec .circular-wrap .circle .counter-num {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: normal;
    font-weight: normal;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.stats-sec .circular-wrap .circle .counter-num {
    color: #000000;
    font-size: 1.875rem;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.stats-sec .circular-wrap h4.darkcolor{
    max-width: 184px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #000000;
    font-size: 20px;
    opacity: .7;
    margin-top: 30px;
}

/* ===================================
           team sec css
====================================== */
.team-sec{}
.team-sec .left-overlay{
    background-color: #f71c52;
}
.team-sec .inner-team-sec{
    background-color: #f71c52;
}
.team-sec .heading{
    margin-bottom: 30px;
}
.team-sec .inner-team-sec .team-area{
    width: 80%;
    margin: 0 auto;
}
.team-sec .inner-team-sec .team-area .team-nav{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    z-index: 11;
    border-radius: 50%;
    transition: .5s ease;
}
.team-sec .inner-team-sec .team-area .team-nav:hover{
    background-color: #000000;
}
.team-sec .inner-team-sec .team-area .team-nav:hover i{
    color: #FFFFFF;
}
.team-sec .inner-team-sec .team-area .team-nav.team-prev{
    left: 25px;
}
.team-sec .inner-team-sec .team-area .team-nav.team-next{
    right: 30px;
}
.team-sec .inner-team-sec .team-area .team-nav i{
    font-size: 14px;
}
.team-sec .team-detail{
    margin-top: 15px;
}
.team-sec .inner-team-sec .team-carousel .team-box .team-info{
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    margin-top: 30px;
}
.team-sec .inner-team-sec .team-carousel .team-box .team-info .team-name{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}
.team-sec .inner-team-sec .team-carousel .team-box .team-info .team-designation{
    font-size: 16px;
    font-weight: 300;
}

.team-box .overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background: rgba(247, 28, 82, 0.5);
    opacity: 0;
    transition: .8s ease;
}
.team-sec .item:hover .team-box{
    cursor: pointer;
}
.team-sec .item:hover .team-box .overlay{
    opacity: 1;
}
.team-box .team-social li {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.team-box:hover .team-social li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.team-box .team-social li {
    display: inline-block;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.team-box .team-social li:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.team-box .team-social li:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.team-box .team-social li:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.team-box .team-social li:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.team-box .team-social li:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.team-box .team-social li:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.team-box .team-social li:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

.team-box .team-social li a {
    display: block;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid;
    width: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    border-color: transparent;
    color: #FFFFFF;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}
.team-box .team-social li a:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

/***********************************/
/***********PORTFOLIO CSS***********/
/***********************************/
.portfolio-sec{
    margin-bottom: 30px;
    /*transition: .8s ease;*/
}
.portfolio-sec .container {
    max-width: 1140px;
}
.portfolio-sec .heading{
    color: #000000;
    margin-bottom: 0;
    font-size: 50px;
}
.cbp-wrapper-outer {
    overflow: visible;
}
.cbp-l-loadMore-button .cbp-l-loadMore-link,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    padding: 12px 32px;
}
.cbp-l-loadMore-button .cbp-l-loadMore-link,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link,
.cbp-l-loadMore-button .cbp-l-loadMore-link:hover,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover,
.cbp-l-loadMore-button .cbp-l-loadMore-link:focus,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link:focus{
    color: #fff;
}

.cbp-l-filters-button .cbp-filter-item {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
    border-bottom: solid 2px transparent ;
}

.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
    color: #f71c52;
    background: transparent;
    border-bottom: solid 3px #f71c52;

}
.cbp-l-filters-button .cbp-filter-item,
.cbp-item.even{
    -webkit-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    transition: 300ms all ease;
}
.cbp-item.even {
    margin-top: -190px;
}
.cbp-l-grid-mosaic .cbp-caption-activeWrap {
    background: rgba(247, 28, 82, 0.8);

}
.cbp-l-caption-title {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
}
.portfolio-detail-text {
    color: #FFFFFF;
    font-style: italic;
}
.portfolio-hover-effect .hover-text{
    padding-left: 3%;
    padding-bottom: 2%;
}
.portfolio-hover-effect .portfolio-inner-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-hover-effect .portfolio-inner-content span{
    background-color: #FFFFFF;
    height: 3px;
    width: 70px;
    display: block;
}
.portfolio-hover-effect .portfolio-inner-content span:nth-child(2){
    transform: rotate(90deg);
}
.portfolio-hover-effect .hover-text .p-hover-title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 0;
}
.portfolio-hover-effect .hover-text .p-hover-des{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
#js-loadMore-lightbox-gallery {
    margin-top: 45px;
}
#js-loadMore-lightbox-gallery.active {
    margin-top: -150px;
    position: relative;
    /*z-index: -1 !important;*/
}
#js-loadMore-lightbox-gallery.active-outer {
    margin-top: -250px;
}
.cbp-caption-active .cbp-caption-activeWrap {
    width: 94%;
    position: absolute;
    z-index: 2;
    height: 94%;
}
.cbp-caption-active .cbp-caption-activeWrap:hover .text-data{
    z-index: -1 !important;
}

.cbp-caption-zoom .cbp-caption-activeWrap {
    opacity: 0;
    top: 3%;
    left: 3%;
}

.portfolio-foot-detail{
    padding-bottom: 3%;
}
.portfolio-foot-detail .p-text{
    color: #000000;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 8px;
    opacity: 0.7;
}
.portfolio-foot-detail .p-text:last-child{
    margin-bottom: 0;
}
.portfolio-foot-detail .p-num{
    color: #000000;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


/* ===================================
       testimonial section css
====================================== */
.testimonial-sec{
    /*padding-top: 120px;*/
}
.testimonial-sec .right-overlay{
    background-color: #554c86;
    top:120px;
}
.testimonial-sec .testimonial-area{
    background-color: #554c86;
}
.testimonial-sec .testimonial-area .container{
    max-width: 1140px;
}
.testimonial-sec .testimonial-area .testimonial-details{
    padding-right: 10px;
}
.testimonial-sec .testimonial-area .testimonial-carousel{
    width: 98%;
    margin: 0 auto;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder{
    display: block;
    margin-bottom: 30px;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .icon-holder i{
    color: #FFFFFF;
    font-size: 32px;
    display: inline-block;
    font-style: italic;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .img-holder img{
    border-radius: 50%;
    width: 100%;
}
.testimonial-sec .testimonial-area .testimonial-carousel .testimonial-box .user-name{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}
/* ===================================
        Our Cast sec css
====================================== */
.sponser-tags .item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sponser-tags .item img{
    width: 80%;
    display: inline-block;
}

/* ===================================
        Blog sec css
====================================== */
.blog-sec{
    padding-top: 120px;
}
.blog-sec .left-overlay{
    background-color: #39d47a;
    top:120px;
}

.blog-sec .blog-area{
    padding-top: 50px;
    padding-bottom: 50px;
}
.blog-sec .blog-inner-overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 34%;
    background-color: #39d47a;
}
.blog-sec .blog-area .blog-detail .heading{
    margin-bottom: 40px;
}
.blog-sec .blog-area .blog-detail .white-trans-btn{
    margin-top: 10px;
}

/* ===================================
      Contact sec css
====================================== */
.contact-sec .heading{
    color: #000000;
    font-size: 40px;
    margin-bottom: 40px;
}
.contact-sec .contact-form{
    width: 95%;
}
.contact-sec .contact-form input{
    font-size: 16px;
    height: 50px;
}
.contact-sec .contact-form .form-control{
    border-radius: 0;
    border:solid 2px #eceef2;
}
.contact-sec .contact-form input::placeholder{
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form textarea{
    padding: 13px;
    padding-left: 25px;
    height: 202px;
    color: #8799a3;
    font-size: 16px;
}
.contact-sec .contact-form .purple-btn{
    margin-top: 15px;
}

/*contact details*/
.contact-sec .contact-background{
    position: absolute;
    right: 0;
    top: -35px;
    z-index: -1;
}
.contact-sec .contact-details{
    font-family: Roboto, sans-serif;
    width: 90%;
    margin-left: 20px;
}
.contact-sec .contact-details .heading{
    margin-bottom: 50px;
}
.contact-sec .contact-details .text{
    color: #000000;
    opacity: .8;
}
.contact-sec .contact-details ul{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 50px;
}
.contact-sec .contact-details ul li{
    color: #000000;
    opacity: .8;
    list-style: none;
    margin-bottom: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.contact-sec .contact-details ul li:first-child{
    width: 60%;
}
.contact-sec .contact-details ul li span{
    display: inline-block;
    padding-right: 30px;
}
.contact-sec .contact-details ul li span:last-child{
    padding-right: 0;
}
.contact-sec .contact-details ul li i{
    font-size: 38px;
    margin-right: 20px;
    margin-bottom: 8px;
}
.contact-sec .contact-details ul li i.addr{
    color: #f71c52;
    font-size: 44px;
}
.contact-sec .contact-details ul li i.phone{
    color: #554c86;
}
.contact-sec .contact-details ul li i.email{
    color: #39d47a;
    transform: rotate(-30deg);
}
/* ===================================
     Our Blog  css
====================================== */



/* ===================================
       Contact Us
====================================== */

/* ===================================
   Partner
====================================== */


/* ===================================
        map sec
====================================== */

/* ===================================
   Footer
====================================== */

.footer-style-1{
    padding: 5rem 0;
}

.footer-social ul{
    margin: 0;
    padding: 0;.contact-sec .contact-form input
}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 0 10px 0 0;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-social li:nth-last-child(1) a{
    margin-right: 0;
}

.footer-social li a:hover{
    background-color:#f71c52;
    color: #ffffff;
}

.company-about{
    font-size: 14px;
}


/* ===================================
   Scroll Top
====================================== */

.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 23px;
    line-height: 47px;
    color: #fff;
    background-color: #f71c52;
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    text-decoration: none;
    z-index: 80;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.scroll-top-arrow:hover {
    background-color: #554c86; }



/* ===================================
    Background images
====================================== */

[class*=bg-img]{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* ===================================
        Preloader
   ====================================== */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FFFFFF;
    z-index: 999;
}
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* loader-32 */
.loader-32 .loader-container {
    width: 220px;
}
.loader-32 .ball-wrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 0 10px;
    padding-bottom: 10px;
}
.loader-32 .ball-holder {
    position: relative;
    overflow: hidden;
    height: 130px;
}
.loader-32 .ball {
    position: absolute;
    bottom:0; left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #39d47a;
    background-color: #39d47a;
    /*background-color: rgb(255,99,71);*/
    transform: translateY(0px) translateX(-50%) translateZ(0);
    transform-origin: center;
    animation: loader32 1s infinite linear;
    z-index: 2;
}
.loader-32 .ball-wrapper:nth-child(2) .ball{
    background-color: #554c86;
    border: 1px solid #554c86;
}
.loader-32 .ball-wrapper:nth-child(3) .ball{
    background-color: #f71c52;
    border: 1px solid #f71c52;
}
.loader-32 .shadow {
    position: absolute;
    bottom: 9px;
    width: 100%;
    height: 6px;
    border-radius: 50%;
    background: rgb(161,160,161);
    opacity: 1;
    animation: shadow32 1s infinite linear;
    z-index: 1;
}
.ball-wrapper:nth-of-type(1) .ball,
.ball-wrapper:nth-of-type(1) .shadow {
    animation-delay: 0s;
}
.ball-wrapper:nth-of-type(2) .ball,
.ball-wrapper:nth-of-type(2) .shadow {
    animation-delay: 0.2s;
}
.ball-wrapper:nth-of-type(3) .ball,
.cube-wrapper:nth-of-type(3) .shadow {
    animation-delay: 0.3s;
}

@keyframes loader32 {
    0%   { transform: translate(-50%, 10px); }
    40%  { transform: translate(-50%, -90px); width: 30px; height: 30px; }
    50%  { transform: translate(-50%, -100px); width: 30px; height: 30px; }
    65%  { transform: translate(-50%, -90px); width: 30px; height: 30px; }
    75%  { transform: translate(-50%, 0px); width: 30px; height: 30px; }
    100% { transform: translate(-50%, 10px);  width: 50px; height: 15px;}
}
@keyframes shadow32 {
    0%   { transform: scale(0.9, 0.9); opacity: 1; }
    50%  { transform: scale(0.2, 0.2); opacity: 0.3; }
    100% { transform: scale(0.9, 0.9); opacity: 1; }
}

/***********************************/
/********standalone page css********/
/***********************************/
.slider-sec {
    min-height:300px;
    position: relative;
    margin-top: -40px;
}
.slider-sec .slider-row{
    padding-top: 50px;
    padding-bottom: 50px;
}
.slider-sec .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-color:#f71c52;
}
.slider-sec .inner-overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color:#f71c52;
}
.slider-sec .inner-slider-content h4{
    font-family:Oswald, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.crumbs{
    position: relative;
}
.crumbs .breadcrumb-items{
    display: inline-block;
}
.crumbs .breadcrumb{
    margin-bottom: 0;
    border-radius: 0;
    padding:0;
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #FFFFFF;
}

.crumbs .breadcrumb li a{
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: .5s ease;
    padding-bottom: 5px;
}
.crumbs .breadcrumb li a:hover{
    border-bottom: solid 1px #FFFFFF;
}
/*crumbs end*/


.standalone-row .stand-img-des{
    padding-left: 30px;
    text-align: center;
}
.standalone-row:nth-child(2) .stand-img-des{
    padding-left: 0;
    padding-right: 30px;
}
.standalone-detail .sub-heading{
    color: #f71c52;
    margin-bottom: 20px;
}
.standalone-area .sub-heading{
    color: #f71c52;
    margin-bottom: 8px;
}
.standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    font-family: Roboto , sans-serif;
}

.standalone-detail .para_text{
    color: #000000;
    font-weight: 500;
    font-family: Roboto , sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    opacity: .8;
    line-height: 2.1;
}

.standalone-detail{
    padding-bottom: 100px;
}
.standalone-area .gradient-text1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}
.standalone-area .stand-img-des .para_text{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 300;
    opacity: .8;
}

.form-contact {
    display: flex;
}

.form-contact .purple-btn {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: white;
    justify-content: center;
}


/* ===================================
    Media Queries
   ====================================== */


@media (min-width:1200px) and (max-width: 1250px){
    .header-appear .sidemenu_btn {
        top: 38px !important;
    }
}
@media (min-width:992px) and (max-width: 1250px){
    header .top-social-links li a {
        height: 30px;
        width: 30px;
    }
    header .top-social-links li a i {
        font-size: 15px;
    }

    .header-appear .fixed-nav-links {
        margin-left: 10px;
    }
    .header-appear .sidemenu_btn {
        top: 33px;
        right: 0;
    }
}
@media (min-width:992px) and (max-width: 1070px){
    header .upper-nav .top-social-links{
        margin-right: 50px;
    }
    .sidemenu_btn {
        right: 15px;
    }
}
@media (min-width:768px) and (max-width:991px){
    header .upper-nav{
        display: none;
    }
    /*.heading {*/
    /*    font-size: 44px;*/
    /*}*/
    .slider-area .slider-arrows{
        display: none;
    }
    header .side-menu .navbar-brand img {
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .side-nav .navbar-nav{
        text-align: center;
    }
    .menu-company-details {
        margin-bottom: 25px;
        text-align: center;
    }
    .social-icons-simple ,.side-menu p {
        text-align: center;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 26px;
    }
    .header-appear .fixed-nav-links {
        margin-right: 25px;
        margin-left: 0;
    }
    .sidemenu_btn {
        top: 60px;
    }
    .header-appear .sidemenu_btn {
        top: 40px;
        right: 0;
    }
    .header-appear ~ .side-menu .btn-close {
        top: 30px;
        right: 23px;
    }
    .header-appear .fixed-nav-logo{
        margin-right: 0;
        transform: translateY(-3px);
    }
    .header-appear .fixed-nav-logo img {
        width: 50%;
    }
    .side-menu {
        width: 100%;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content {
        width: 100%;
    }
    .slider-area .container .inner-bg-overlay {
        right: 0;
    }
    .slider-area .slider-detail {
        margin-bottom: 50px;
    }
    .slider-area .bg-overlay {
        width: 100%;
        left: 0;
        right: 0;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-text {
        width: 100%;
    }
    .slider-area .slider-arrows {
        display: none;
    }

    /*about-sec*/
    .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 60px;
    }
    .about-sec .services-area .services .service-card {
        margin-bottom: 60px;
    }
    .about-sec .about-overlay {
        background-color: #554c86;
        left: 0;
    }
    .about-sec .about-area {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*stats sec*/
    .stats-sec .stats-heading-area .text {
        width: 95%;
    }
    .stats-sec .circular-wrap {
        padding-top: 80px;
    }
    .stats-sec .circular-wrap>div {
        padding-bottom: 80px;
    }
    .stats-sec .circular-wrap>div:last-child {
        padding-bottom: 0;
    }
    /*team sec*/
    .team-sec .team-detail {
        margin-bottom: 80px;
    }
    .team-sec .inner-team-sec .team-area {
        width: 70%;
    }
    .team-sec .inner-team-sec .team-area .team-nav.team-next {
        right: 20px;
    }
    .team-sec .inner-team-sec .team-area .team-nav.team-prev {
        left: 20px;
    }
    /*portfolio*/
    .portfolio-sec{
        margin-bottom: 0;
    }
    .portfolio-sec .heading {
        font-size: 38px;
    }
    .portfolio-foot-detail {
        padding-top: 30%;
        padding-bottom: 0;
    }
    .portfolio-sec .green-btn {
        padding: 8px 35px;
    }
    .portfolio-foot-detail .p-text {
        font-size: 16px;
    }
    /*testimonial section*/
    .testimonial-sec .testimonial-area .testimonial-details {
        padding-right: 0;
        margin-bottom: 80px;
    }
    .right-overlay{
        left: 0;
    }
    .left-overlay{
        right: 0;
    }
    /*blog*/
    .blog-sec .blog-area .blog-detail{
        margin-bottom: 80px;
    }
    /*contact*/
    .contact-sec .contact-form {
        width: 100%;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width:auto;
    }
    .contact-sec .contact-details ul li {
        display: block;
    }
    .contact-sec .contact-details ul li i {
        display: block;
        margin-bottom: 15px;
    }
    .contact-sec .contact-details ul li {
        margin-bottom: 50px;
    }
    .contact-sec .contact-details ul li:last-child{
        margin-bottom: 0;
    }
    .contact-sec .contact-form {
        margin-right: 0;
        margin-left: 0;
    }
    .contact-sec .contact-form textarea {
        height: 200px;
    }
    .contact-sec .contact-background {
        top: 70px;
    }
    /*footer*/
    .company-about {
        margin-top: 10px;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }

    .standalone-area .sub-heading {
        margin-top: 20px;
    }

    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }

    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .slider-sec .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f71c52;
    }
    .slider-sec .inner-slider-content{
        margin-bottom: 50px;
        width: 100%;
    }
}


@media screen and (max-width:767px){
    header .upper-nav{
        display: none;
    }
    .heading {
        font-size: 44px;
    }
    .slider-area .slider-arrows{
        display: none;
    }
    header .side-menu .navbar-brand img {
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .slider-sec .slider-row {
        padding-top: 70px;
    }

    .side-nav .navbar-nav{
        text-align: center;
    }
    .menu-company-details {
        margin-bottom: 25px;
        text-align: center;
    }
    .social-icons-simple ,.side-menu p {
        text-align: center;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 24px;
    }
    .header-appear .fixed-nav-links {
         margin-right: 40px;
        margin-left: 0;
        display: none;
    }
    .sidemenu_btn {
        top: 50px;
    }
    .side-menu .inner-wrapper {
        padding: 3.5rem 3rem;
    }
    .side-menu .inner-wrapper .row{
        margin-left: 0;
    }
    .social-icons-simple, .side-menu p {
        font-size: 13px;
    }
    .header-appear .sidemenu_btn {
        top: 35px;
        right: 0;
    }
    .header-appear ~ .side-menu .btn-close {
        top: 30px;
        right: 23px;
    }
    .header-appear .fixed-nav-logo{
        margin-right: 0;
        transform: translateY(-3px);
    }
    .header-appear .fixed-nav-logo img {
        width: 60%;
    }
    .side-menu {
        width: 100%;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content {
        width: 100%;
    }
    .slider-area .container .inner-bg-overlay {
        right: 0;
    }
    .slider-area .slider-detail {
        margin-bottom: 50px;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-heading {
        font-size: 40px;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-text {
        width: 100%;
    }
    .slider-area .slider-arrows {
        display: none;
    }
    .slider-area .bg-overlay {
        width: 100%;
    }

    /*about-sec*/
    .about-sec .services-area .services:nth-child(3) .service-card {
        margin-bottom: 60px;
    }
    .about-sec .services-area .services .service-card {
        margin-bottom: 60px;
    }
    .about-sec .about-overlay {
        background-color: #554c86;
        left: 0;
    }
    .about-sec .about-area {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*stats sec*/
    .stats-sec .stats-heading-area .text {
        width: 95%;
    }
    .stats-sec .circular-wrap {
        padding-top: 80px;
    }
    .stats-sec .circular-wrap>div {
        padding-bottom: 80px;
    }
    .stats-sec .circular-wrap>div:last-child {
        padding-bottom: 0;
    }
    /*team sec*/
    .team-sec .team-detail {
        margin-bottom: 80px;
    }
    .team-sec .inner-team-sec .team-area {
        width: 70%;
    }
    .team-sec .inner-team-sec .team-area .team-nav.team-next {
        right: 20px;
    }
    .team-sec .inner-team-sec .team-area .team-nav.team-prev {
        left: 20px;
    }
    /*portfolio*/
    .portfolio-sec{
        margin-bottom: 0;
    }
    .portfolio-sec .heading {
        font-size: 38px;
    }
    .portfolio-foot-detail {
        padding-top: 50%;
        padding-bottom: 0;
    }
    .portfolio-sec .green-btn {
        padding: 8px 25px;
    }
    .portfolio-foot-detail .p-text {
        font-size: 11px;
    }
    /*testimonial section*/
    .testimonial-sec .testimonial-area .testimonial-details {
        padding-right: 0;
        margin-bottom: 80px;
    }
    .right-overlay{
        left: 0;
    }
    .left-overlay{
        right: 0;
    }
    /*blog*/
    .blog-sec .blog-area .blog-detail{
        margin-bottom: 80px;
    }
    /*contact*/
    .contact-sec .contact-form {
        width: 100%;
    }
    .contact-sec .contact-details {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }
    .contact-sec .contact-details ul li:first-child {
        width:auto;
    }
    .contact-sec .contact-details ul li {
        display: block;
    }
    .contact-sec .contact-details ul li i {
        display: block;
        margin-bottom: 15px;
    }
    .contact-sec .contact-details ul li {
        margin-bottom: 50px;
    }
    .contact-sec .contact-details ul li:last-child{
        margin-bottom: 0;
    }
    .contact-sec .contact-form {
        margin-right: 0;
        margin-left: 0;
    }
    .contact-sec .contact-form textarea {
        height: 200px;
    }
    .contact-sec .contact-background {
        top: 70px;
    }
    /*footer*/
    .company-about {
        margin-top: 10px;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .slider-sec .inner-slider-content h4{
        font-size: 45px;
    }
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }
    .standalone-area .sub-heading{
        margin-top: 20px;
    }
    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-area {
        /*padding-bottom: 0;*/
    }
    .slider-sec .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f71c52;
    }
    .slider-sec .inner-slider-content{
        margin-bottom: 50px;
        width: 100%;
    }
    header .side-menu .navbar-brand img {
        max-width: 60%;
    }

}

@media (min-width: 1200px) {
    .slider-area .slider-arrows {
        right: -4%;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-text {
        font-size: 14px;
    }
    .testimonial-sec .testimonial-area .container {
        max-width: 1040px;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 30px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1340px;
    }
    .side-nav .navbar-nav .nav-link {
        font-size: 36px;
    }
    header .main-navigation nav .navbar-nav .nav-item .nav-link {
        font-size: 18px;
    }
    .testimonial-sec .testimonial-area .container {
        max-width: 1140px;
    }
    .slider-area .slider-arrows {
        right: -7%;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-heading {
        margin-bottom: 40px;
    }
    .slider-area .slider-detail .slider-slide .slider-inner-content .slide-text {
        margin-bottom: 40px;
        font-size: 16px;
    }
    .slider-area .slider-arrows .slider-arr {
        height: 45px;
        width: 45px;
    }
}
@media (min-width: 1800px) {
    .slider-area .slider-arrows {
        right: -11%;
    }
}